  <ion-header>
   <ion-toolbar color="tertiary">
     <ion-buttons slot="start">
       <ion-button>
       <ion-icon slot="icon-only"  name="videocam-outline"></ion-icon> 
       </ion-button>
     </ion-buttons>
     <ion-title>
       PTZ - Controller - Adicionar Câmera
     </ion-title>
     <ion-buttons slot="end">
       <ion-button (click)="closeModal()">
         <ion-icon slot="icon-only" name="close-circle"></ion-icon>
       </ion-button>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>

 <ion-content>
    <ion-card>
    <form [formGroup]="form" (ngSubmit)="add()">
      <ion-item>
        <ion-label position="floating">Nome: <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Endereço IP <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required formControlName="ipaddress" type="text"></ion-input>
      </ion-item>
      <ion-button block color="primary" type="submit" [disabled]="form.invalid">
        Salvar
      </ion-button>
    </form>
      

    </ion-card>
 </ion-content>