<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      PTZ - Adicionar Câmera
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-list-header> <ion-label> Cadastrar Câmera</ion-label></ion-list-header>
          <form (ngSubmit)="submit()"  [formGroup]="form">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nome Camera: <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="name" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Endereço IP: <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="ipaddress" inputmode="numeric" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Usuário: <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="user" type="text"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating">Senha: <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required formControlName="password" type="password"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label position="floating">Descrição: <br><small>Opcional</small>
              </ion-label> 
               <ion-textarea formControlName="description"></ion-textarea>
            </ion-item>
          </ion-list>
        
          <ion-button class="save" expand="block" color="primary" type="submit" [disabled]="!form.valid">
            salvar
           </ion-button>
          </form>
        </ion-col>

        <ion-col size="12">
          
            <ion-list style="padding-top: 0 !important;">
              <ion-list-header> <ion-label> Lista de Câmeras</ion-label></ion-list-header>
              <ion-item *ngFor="let c of cams">
                <ion-label>
                  {{ c.name }}
                  <p>IP: {{ c.ipaddress }}</p>
                </ion-label>
                <ion-icon slot="end" color="warning" name="create-outline" (click)="editCam(c)">  </ion-icon>
                <ion-icon slot="end" color="danger" name="trash" (click)="deleteCam(c.id)"></ion-icon>
              </ion-item>
            </ion-list>
          </ion-col>
       
      </ion-row>
  </ion-grid>
 

  

</ion-content>