<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      PTZ - Controller
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <form [formGroup]="form">

      <ion-item class="ion-padding-vertical">
        <ion-range min="0" max="100" color="danger" pin="true" formControlName="brightness">
          <ion-label slot="start">Brilho </ion-label>
          <ion-icon size="small" slot="start" name="sunny"></ion-icon>
          <ion-icon slot="end" name="sunny"></ion-icon>
        </ion-range>
        <ion-input class="inputs" type="number" formControlName="brightness">
        </ion-input>
      </ion-item>

      <ion-item class="ion-padding-vertical">
        <ion-range min="0" max="255" color="danger" pin="true" formControlName="saturation">
          <ion-label slot="start">Saturação </ion-label>
          <ion-icon class="rotate" size="small" slot="start" name="contrast"></ion-icon>
          <ion-icon class="rotate" slot="end" name="contrast"></ion-icon>
        </ion-range>
        <ion-input class="inputs" type="number" formControlName="saturation">
        </ion-input>
      </ion-item>

      <ion-item class="ion-padding-vertical">
        <ion-range min="0" max="100" color="danger" pin="true" formControlName="contrast">
          <ion-label slot="start">Constraste </ion-label>
          <ion-icon size="small" slot="start" name="contrast"></ion-icon>
          <ion-icon slot="end" name="contrast"></ion-icon>
        </ion-range>
        <ion-input class="inputs" type="number" formControlName="contrast">
        </ion-input>
      </ion-item>

      <ion-item class="ion-padding-vertical">
        <ion-range min="0" max="100" color="danger" pin="true" formControlName="targety">
          <ion-label slot="start">Exposição </ion-label>
          <ion-icon size="small" slot="start" name="aperture"></ion-icon>
          <ion-icon slot="end" name="aperture"></ion-icon>
        </ion-range>
        <ion-input class="inputs" type="number" formControlName="targety">
        </ion-input>
      </ion-item>
    </form>

  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="cancel()" color="medium" expand="block">
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="setDefault()" color="secondary" expand="block">
            Redefinir
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="closeModal()" color="success" expand="block">
            Concluir
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>