<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <div class="title">PTZ <strong>Controller</strong></div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openPopover()" fill="clear">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <!-- Columa Controles Arrows -->
      <ion-col size-xs="12" size-md="4">

        <div class="segment" style="position: relative; top: -5px; background: rgb(51 48 48 / 2%); width: auto; margin: 0 auto;">
        <ion-note color="danger" *ngIf="cams?.length <= 0 ">
        {{ notfoundcam }}
        </ion-note>
          <ng-container *ngIf="cams?.length < 4; else ionSelect">
            <ion-segment value="" (ionChange)="segmentChangedCam($event)" class="ion-marging-vertical">
              <ion-segment-button *ngFor="let cam of cams" [value]="cam.ipaddress">
                <ion-label>{{ cam.name }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ng-container>

          <ng-template #ionSelect>
            <ion-select  style="border-radius: 14px;  border: solid 1px #cdcdcd;" (ionChange)="segmentChangedCam($event)" placeholder="Selecione a Câmera">
              <ion-select-option color="primary" *ngFor="let cam of cams" [value]="cam.ipaddress"> {{ cam.name}} </ion-select-option>
            </ion-select>
          </ng-template>

          <!-- <ion-badge color="primary" mode="ios">{{ cameraSelected | json }}  </ion-badge> -->
        </div>

        <div class="controlLeft">

          <div class="btn-arrow-up">
            <ion-fab-button (touchstart)="movUp()" (touchend)="stop()">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </ion-fab-button>
          </div>

          <div class="btn-left-right">
            <div class="btn-arrow-left">
              <ion-fab-button (touchstart)="movLeft()" (touchend)="stop()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-fab-button>
            </div>

            <div class="btn-arrow-right">
              <ion-fab-button (touchstart)="movRight()" (touchend)="stop()">
                <ion-icon name="arrow-forward-outline"></ion-icon>
              </ion-fab-button>
            </div>
          </div>

          <div class="btn-arrow-down">
            <ion-fab-button (touchstart)="movDown()" (touchend)="stop()">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </ion-fab-button>
          </div>
        </div>

      </ion-col>
      <!-- Fim Columa Controles Arrows -->
      <!-- /////// -->
      <!-- Coluna Zoom e Focus -->
      <ion-col size-xs="12" size-md="4">

        <div class="controlCenter">

          <ion-card>
            <ion-list>
              <ion-item lines="none">
                <ion-fab-button slot="start" (touchstart)="zoomIn()" (touchend)="stop()">
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-fab-button>
                <ion-label> Zoom </ion-label>
                <ion-fab-button slot="end" (touchstart)="zoomOut()" (touchend)="stop()">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-fab-button>
              </ion-item>

            </ion-list>
          </ion-card>


          <ion-card>
            <ion-list>
              <ion-item lines="none">
                <ion-fab-button slot="start" (touchstart)="focusOpen()" (touchend)="stop()">
                  <ion-icon name="contract-outline"></ion-icon>
                </ion-fab-button>
                <ion-label>Focus</ion-label>
                <ion-fab-button slot="end" (touchstart)="focusClose()" (touchend)="stop()">
                  <ion-icon name="expand-outline"></ion-icon>
                </ion-fab-button>
              </ion-item>
            </ion-list>
          </ion-card>


          <ion-card>
            <ion-list>
              <ion-item lines="none">
                <!-- <ion-fab-button slot="start" (click)="focusOpen()">
                  <ion-icon name="contract-outline"></ion-icon>
                </ion-fab-button> -->
                <ion-label>Configuração</ion-label>
                <ion-fab-button color="medium" slot="end" (click)="openConfig()">
                  <ion-icon name="options-outline"></ion-icon>
                </ion-fab-button>

              </ion-item>
            </ion-list>
          </ion-card>


        </div>
      </ion-col>
      <!-- Fim Coluna Zoom e Focus -->
      <!-- ////// -->
      <!-- Columa Presets -->
      <ion-col size-xs="12" size-md="4" class="">


        <div class="controlRight">
          <div class="btns-presets">
            <ion-grid>
              <ion-row>
                <ion-col *ngFor="let n of btnsPresets" size="6">
                  <ion-fab-button (touchstart)="presetStart(startTime, n.number)"
                    (touchend)="presetLongPress(endTime, n.number)">
                    <span> {{ n.number}} </span>
                  </ion-fab-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>

      </ion-col>
      <!-- Fim Presets -->
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="addCamera()">
      <ion-icon name="videocam-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>